.Rproj.user
.Rhistory
.RData
.Ruserdata

.vscode/

__pycache__/

/data/**

# Hide the .gitmodules file (hide the intact adress)
.gitmodules

# Ignore latex stuffs
*.aux
*.log
*.toc
*.synctex.gz
*.bbl
*.blg
*.lof
*.out
*.lot
