.Rproj.user
.Rhistory
.RData
.Ruserdata

.vscode/

__pycache__/

/data/**

# Hide the .gitmodules file (hide the intact adress)
.gitmodules

# Ignore latex stuffs
*.aux
*.log
*.toc
*.synctex.gz
*.bbl
*.blg
*.lof
*.out
*.lot

# ignore all results folders
results/**/ae
results/**/da_vae*
results/**/vae_isof
results/**/kpca*
results/**/.ipynb*
.ipynb_checkpoints

models/
